Note-Red Flow
[{"id":"76c0ac169e33d18b","type":"tab","label":"Fuel-oil Tank alarm","disabled":false,"info":""},{"id":"03d2519630f44135","type":"mqtt in","z":"76c0ac169e33d18b","name":"Maine Fuel-Tank","topic":"MAINE/TASMOTA/110180/SENSOR","qos":"0","datatype":"auto","broker":"90a2ffb8.ae52e8","nl":false,"rap":false,"x":160,"y":100,"wires":[["3f0cebce0a0d3f57","db3322452c92d7e1","945d67cef1077f18"]]},{"id":"3f0cebce0a0d3f57","type":"debug","z":"76c0ac169e33d18b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":100,"wires":[]},{"id":"db3322452c92d7e1","type":"json","z":"76c0ac169e33d18b","name":"","property":"payload","action":"","pretty":false,"x":370,"y":160,"wires":[["a28aee7f5a3f0832"]]},{"id":"30e3f1fe4bde6b11","type":"comment","z":"76c0ac169e33d18b","name":"","info":"","x":140,"y":40,"wires":[]},{"id":"a28aee7f5a3f0832","type":"debug","z":"76c0ac169e33d18b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":160,"wires":[]},{"id":"945d67cef1077f18","type":"function","z":"76c0ac169e33d18b","name":"Check for tank alert","func":"\n// test tank for percent full and send an email if it's at lower limit\nvar msgx = {};\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\nmsgx.payload = JSON.parse(msg.payload);\nmsg1.payload = msgx.payload.Tank.Volume;\nmsg2.payload = msgx.payload.Tank.Percent_Full;\n\nif (msg2.payload <= 35)\n{\nmsg3.payload = \"Warning, Maine Fuel-Oil Tank is at: \" + msg2.payload + \" Percent full, \" + msg1.payload + \" Gal's\";\nreturn msg3;\n}\nreturn","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":220,"wires":[["f4a62c1fbde05fbd","ec4f9f239d459877"]]},{"id":"f4a62c1fbde05fbd","type":"debug","z":"76c0ac169e33d18b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":280,"wires":[]},{"id":"ec4f9f239d459877","type":"delay","z":"76c0ac169e33d18b","name":"Limit 1 msgs / 3-day","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"x":640,"y":220,"wires":[["d04dc797ded9e300"]]},{"id":"d04dc797ded9e300","type":"e-mail","z":"76c0ac169e33d18b","server":"smtp.gmail.com","port":"587","secure":false,"tls":false,"name":"maine@lafleur.us","dname":"Email Event --> TRL","x":880,"y":220,"wires":[]},{"id":"90a2ffb8.ae52e8","type":"mqtt-broker","name":"","broker":"iot.winlink.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
